#lista-entidades {
    width: 50%;
    padding: 20px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(111, 184, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lista-entidades h2 {
  color: black;
    text-align: center;
    font-size: 55px;
    margin-bottom: 35px;
}

#lista-entidades ul {
    list-style: none;
    padding: 0;

}

#lista-entidades li {
    margin-bottom: 10px;
}

#lista-entidades a {
    /* text-decoration: none; */
    /* color: #333; */
    font-size: 25px;
}